include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include thai_express *.css
recursive-include thai_express *.csv
recursive-include thai_express *.html
recursive-include thai_express *.ico
recursive-include thai_express *.js
recursive-include thai_express *.json
recursive-include thai_express *.md
recursive-include thai_express *.png
recursive-include thai_express *.py
recursive-include thai_express *.svg
recursive-include thai_express *.txt
recursive-exclude thai_express *.pyc